torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
librosa
pandas
numpy
timm==0.4.5
einops
transformers==4.36.2
wget
git+https://github.com/openai/CLIP.git
cn_clip
moviepy
opencv-python-headless
tensorboard==2.14.0
tqdm
zipp
gpustat